<div class="container-fluid">
        <div>

          <!-- <h2 class="sub-header">Section title</h2> -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Major of Interest</th>
                  <!-- <th>Comments</th> -->
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
                 <tr ng-repeat="party in parties.data | orderBy : party.date" ng-click="copy(party)">
                  <td>{{party.date | date : 'EEEE, MMM. d, h a'}}</td>
                  <td>{{party.name}}</td>
                  <td>{{party.email}}</td>
                  <td>{{party.phone}}</td>
                  <td>{{party.majors_of_interest}}</td>
                  <!-- <td>{{party.comments}}</td> -->
                  <td>{{party.nVisitors}}</td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
